body{
    background-color: aqua;
    color: blue;
}

#firstDiv{
    /* background-color: pink; */
}

.red{
    color: red;
}

.bg_yellow{
    background-color: yellow;
}

#secondDiv{
    background-color: rgb(40, 136, 220);
}